@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

            font-family: 'Poppins',sans-serif;
        }
        body {

            display: flex;
            flex-direction: column;
            align-items: center;
            
            background-color: #1d1d1d;
        }

        h1 {
            letter-spacing: 2px ;
            margin: 10px 0 15px 0;
            
            color: #3a54bb;
        }

        .container1 {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            padding-right: 55px;
            padding-left: 30px;
            background-color: rgba(255,255,255,0.8);
            box-shadow: 0 0 10px rgba(246, 244, 244, 0.981);
            border-radius: 5px;
            letter-spacing: 2px;
        }

        .container2 {
            margin: 10px 20px;
            padding: 10px 0;
        }

        label {
            display: block;
            letter-spacing: 2px;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        textarea {
            width: 100%;
            padding: 15px;
            font-size: 20px;
            color: white;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            background-color: rgba(0,0,0,0.8);
            border-radius: 10px;
            resize: none;
            overflow: auto;
            height: 250px;
        }

        .bullet {
            list-style-type: disc;
            font-size: larger;
            font-weight: bold;

        }

        .download_pdf {
            display: flex;
            justify-content: center;
            margin: 25px 0 15px 0;
        }
        
        input[type="download"] {
            background-color: #3a54bb;
            color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        
            cursor: pointer;
        
            font-size: 23px;
            font-weight: 800;
            letter-spacing: 2px;
            padding: 10px;
        
            border: none;
            outline: none;
            border-radius: 10px;
        
            transition: 0.2s;
        }
        
        input[type="download"]:hover,
        input[type="download"]:focus {
            outline: none;
            background-color: #3a54bb;
        
            transform: scale(0.965);
        
            transition: 0.3s;
        }
        
        input[type="download"]:active {
            background-color: #3a54bb;
        
            transform: scale(0.95);
        
            transition: 0.1s;
        }
        
        .toggleMode-div {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        
            margin: 20px 50px 0 0;
            
        }
        