<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./preview.css">
    <title>Summary</title>
    <style>
        
    </style>
</head>

<body>
    <h1>Summary Generator:</h1>
    <div class="container1">
        <label for="output">Summary:</label>
        <textarea id="output">{{result21}}</textarea>
        <div class="container2">
            <ul>
                <li class="bullet">The Length of the given Video is {{h}} hours {{m}} minutes and {{ss}} seconds</li>
                <br>
                <li class="bullet">The Total no. of Attendees that were present in the Metting are : {{c}}</li>
            </ul>
        </div>
    </div>
</body>

</html>

<!-- <!doctype html>
<html>

<head>
    <title>Preview Video</title>
</head>

<body>
    <h3>Summarized text:</h3>
    <textarea rows="10" cols="60" name="result">{{result21}}</textarea>

    <p>The Length of the given Video is {{h}} hours {{m}} minutes and {{ss}} seconds</p>
    <br>
    <p>The Total no. of Attendees that were present in the Metting are : {{c}}</p>
</body>

</html> -->